/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* https://github.com/Nazeh/grid-framework-behance-clone
   v0.0.1 | 20190621
   License: none (public domain)

   Grid based framework
*/
.container {
  width: 100%;
  height: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[120];
      grid-template-columns: repeat(120, 1fr);
  grid-row-gap: 1rem;
}

.container .cell {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-column: span 120;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.container .cell.left {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.container .cell.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .cell.right {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.container .col-2 {
  grid-column: span 60;
}

.container .col-3 {
  grid-column: span 40;
}

.container .col-4 {
  grid-column: span 30;
}

.container .col-5 {
  grid-column: span 24;
}

.container .col-6 {
  grid-column: span 20;
}

.container .col-8 {
  grid-column: span 15;
}

.container .col-10 {
  grid-column: span 12;
}

.container .col-12 {
  grid-column: span 10;
}

@media (min-width: 576px) {
  .container .col-sm-2 {
    grid-column: span 60;
  }
  .container .col-sm-3 {
    grid-column: span 40;
  }
  .container .col-sm-4 {
    grid-column: span 30;
  }
  .container .col-sm-5 {
    grid-column: span 24;
  }
  .container .col-sm-6 {
    grid-column: span 20;
  }
  .container .col-sm-8 {
    grid-column: span 15;
  }
  .container .col-sm-10 {
    grid-column: span 12;
  }
  .container .col-sm-12 {
    grid-column: span 10;
  }
}

@media (min-width: 960px) {
  .container .col-md-2 {
    grid-column: span 60;
  }
  .container .col-md-3 {
    grid-column: span 40;
  }
  .container .col-md-4 {
    grid-column: span 30;
  }
  .container .col-md-5 {
    grid-column: span 24;
  }
  .container .col-md-6 {
    grid-column: span 20;
  }
  .container .col-md-8 {
    grid-column: span 15;
  }
  .container .col-md-10 {
    grid-column: span 12;
  }
  .container .col-md-12 {
    grid-column: span 10;
  }
}

@media (min-width: 1200px) {
  .container .col-lg-2 {
    grid-column: span 60;
  }
  .container .col-lg-3 {
    grid-column: span 40;
  }
  .container .col-lg-4 {
    grid-column: span 30;
  }
  .container .col-lg-5 {
    grid-column: span 24;
  }
  .container .col-lg-6 {
    grid-column: span 20;
  }
  .container .col-lg-8 {
    grid-column: span 15;
  }
  .container .col-lg-10 {
    grid-column: span 12;
  }
  .container .col-lg-12 {
    grid-column: span 10;
  }
}

@media (min-width: 1440px) {
  .container .col-xlg-2 {
    grid-column: span 60;
  }
  .container .col-xlg-3 {
    grid-column: span 40;
  }
  .container .col-xlg-4 {
    grid-column: span 30;
  }
  .container .col-xlg-5 {
    grid-column: span 24;
  }
  .container .col-xlg-6 {
    grid-column: span 20;
  }
  .container .col-xlg-8 {
    grid-column: span 15;
  }
  .container .col-xlg-10 {
    grid-column: span 12;
  }
  .container .col-xlg-12 {
    grid-column: span 10;
  }
}

/* https://github.com/Nazeh/grid-framework-behance-clone

This is for styling the UI elements of Behance.net clone
*/
a {
  cursor: pointer;
  text-decoration: none;
}

body {
  font-family: 'Acumin Pro Bold';
}

nav {
  height: 60px;
  font-size: 15px;
}

nav.site-nav {
  background-color: #191919;
}

nav.site-nav a {
  fill: white;
  color: white;
}

nav.site-nav a:hover {
  fill: white;
  color: white;
}

nav.site-nav svg {
  height: 16px;
}

nav.site-nav .hide-sm {
  display: none;
}

nav.site-nav .blue-btn {
  background-color: #0057ff;
  width: 160px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

nav.site-nav .blue-btn:hover {
  background-color: #0048d8;
}

nav.site-nav .icon {
  display: -ms-grid;
  display: grid;
  height: 32px;
  place-content: center;
  border-radius: 16px;
  -webkit-transition: .3s;
  transition: .3s;
}

nav.site-nav .circle-icon {
  width: 32px;
}

nav.site-nav .facebook-icon {
  background-color: #3b5998;
}

nav.site-nav .facebook-icon:hover {
  background-color: #263963;
}

nav.site-nav .google-icon {
  background-color: white;
}

@media (min-width: 1024px) {
  nav.site-nav a,
  nav.site-nav span {
    fill: #a4a4a4;
    color: #a4a4a4;
  }
  nav.site-nav span {
    font-size: 12px;
  }
  nav.site-nav .white {
    fill: white;
    color: white;
  }
  nav.site-nav .hide-lg {
    display: none;
  }
  nav.site-nav .hide-sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

nav.main-nav {
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

nav.main-nav .hScroll {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
}

@media (min-width: 600px) {
  nav.main-nav .hScroll {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

nav.main-nav a {
  color: black;
  padding: 0 .5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

nav.main-nav a:hover {
  color: #0057ff;
}

.showcase {
  height: 100px;
  font-size: 33.33333px;
  color: white;
  background-image: url("../images/cta-header.jpg");
  background-size: cover;
  background-position: 50%;
}

.showcase h1 {
  text-align: center;
  letter-spacing: -0.11rem;
}

@media (min-width: 600px) {
  .showcase {
    height: 160px;
    font-size: 53.33333px;
  }
}

@media (min-width: 1024px) {
  .showcase {
    height: 210px;
    font-size: 70px;
  }
}

.gallery {
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 3400px;
  margin: auto;
}

.card > div {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.card > div .ribbon {
  position: absolute;
  right: 1rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: .2s;
  transition: .2s;
}

@media (max-width: 576px) {
  .card > div .ribbon {
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
  }
}

.card > div .cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(60%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.5) 100%);
  -webkit-transition: .2s;
  transition: .2s;
}

@media (min-width: 576px) {
  .card > div .cover {
    opacity: 0;
  }
}

.card > div .cover:hover {
  opacity: 1;
}

.card > div .cover:hover .ribbon {
  -webkit-transform: translateY(-15%);
          transform: translateY(-15%);
}

.card > div .cover:hover .ribbon:hover {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.card > div .cover header {
  position: absolute;
  bottom: 0;
  padding: 1rem .5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  color: white;
  fill: white;
}

.card > div .cover header .container {
  grid-row-gap: 0;
}

.card > div .cover header .right div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.card > div .cover header span {
  height: 20px;
  margin-left: 4px;
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.card > div .cover header svg {
  height: 100%;
}

.card > div .cover header h2 {
  font-size: 16px;
  text-transform: capitalize;
}

.card > div .cover header h2:hover {
  text-decoration: underline;
}

.card > div .cover header h3 {
  font-size: 14px;
}

.card > div .cover header h3:hover {
  text-decoration: underline;
}

.card > div .cover header h4 {
  font-size: 12px;
  margin-left: 4px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.card > div img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@font-face {
  font-family: 'Acumin Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Acumin Pro Bold"), url("../fonts/Acumin-BdPro.woff") format("woff");
}
/*# sourceMappingURL=base.css.map */